
.tr_tov_zagol
{
font-size:45px;
}

.ots_tov
{
height:10px;
}

.td_tov_kr_text
{
height:60%;
font-size:25px;
text-align:left;
}
.table_tov
{
width:100%;
background-color:#ffffff;
margin-bottom: 15px;

}
.mini_img
{
width:80px;
height:50px;
}
.td_tov_img
{
width:80px;
height:50px;
}